@{
    ViewData["Title"] = "Villagers";
}

<h2>Villagers</h2>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Icon Image</th>
        <th>Photo Image</th>
        <th>House Image</th>
        <th>Species</th>
        <th>Gender</th>
        <th>Personality</th>
        <th>Hobby</th>
        <th>Birthday</th>
        <th>Catchphrase</th>
        <th>Favorite Song</th>
        <th>Favorite Saying</th>
        <th>Style 1</th>
        <th>Style 2</th>
        <th>Color 1</th>
        <th>Color 2</th>
        <th>Wallpaper</th>
        <th>Furniture Name List</th>
        <th>Filename</th>
        <th>Unique Entry ID</th>
    </tr>
</table>




