@page
@model animalCrossing_villagers.Views.VillagersView.VillagersModel
@{
    ViewData["Title"] = "Villagers";
}

<h1>Villagers</h1>
<table class="table">
    <tr>

    </tr>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
